.search-friend-section {
    margin-bottom: 20px;
    text-align: center;
}

.search-input {
    padding: 10px;
    width: 70%;
    margin-bottom: 10px;
}

.search-button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-button:hover {
    background-color: #45a049;
}

.search-results {
    list-style-type: none;
    padding: 0;
}

.search-result-item {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-friend-button {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-friend-button:hover {
    background-color: #45a049;
}
